<!DOCTYPE html>

<html>

<head>
    <title>IRONPAGES</title>
    <link rel='stylesheet' href='/stylesheets/contacts-style.css' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700" rel="stylesheet">
</head>

<body>

    <div class="contacts-container">

        <h1 id="contacts-title">IRONHACKERS</h1>

        <!-- link to user profile -->

        <div class="contacts-mainuser-profile">

            <img id="contacts-mainuser-photo" src="<%= user.profileImg %>" alt="User Photo">
            <a id="contacts-mainuser-name" href="/profile/<%= user.id %>">
                <%= user.firstName + " " + user.lastName %>
            </a>

        </div>

        <!-- search function -->

        <div class="contacts-search-div">
            <form action="/contacts/search" method="POST">

                <input id="contacts-search-bar" type="text" name="contactSearch" placeholder="enter search item">
                <br>
                <button id="contacts-search-btn" type="submit">Search</button>

            </form>
        </div>

        <div class="contacts-display-div">

            <% if(searchResult !== null) { %>

                <h4 id="contacts-list-title"> search result </h4>

                <table id="contacts-list-table">
                    <% searchResult.forEach(el => { %>
                        <% if(user.username !== el.username) { %>
                            <tr>
                                <a class="btn-user" href="/profile/<%= el.id %>">
                                    <%= el.firstName %>
                                        <%= el.lastName %>
                                </a>
                            </tr>

                            <% } %>
                                <% }) %>

                </table>

                <% } else { %>

                    <h4 id="contacts-list-title"> all contacts </h4>

                    <table id="contacts-list-table">
                        <% users.forEach(el => { %>
                            <% if(user.username !== el.username) { %>
                                <tr>
                                    <a class="btn-user" href="/profile/<%= el.id %>">
                                        <%= el.firstName %>
                                            <%= el.lastName %>
                                    </a>
                                </tr>

                                <% } %>
                                    <% }) %>

                    </table>

                    <% } %>

        </div>

    </div>

</body>

</html>