<!DOCTYPE html>
<html>

<head>
    <title>IRONPAGES</title>
    <link rel='stylesheet' href='/stylesheets/contacts-style.css' />
</head>

<body>

    <div class="contacts-container">

        <h1 id="contacts-title">IRONHACKERS</h1>

        <!-- link to user profile -->

        <div class="contacts-user-profile">

            <!-- must add user photo here -->

            <a href="/profile/<%= user.id %>">
                <%= user.firstName + " " + user.lastName %>
            </a>
            <br>

        </div>

        <!-- search function -->

        <form action="/contacts/search" method="POST">

            <input id="contacts-search-bar" type="text" name="contactSearch" placeholder="enter search item">
            <br>
            <button id="contacts-search-btn" type="submit">Search</button>

        </form>

        <% if(searchResult !== null) { %>

            <h3>search result</h3>

            <ul>
                <% searchResult.forEach(el => { %>
                    <% if(user.username !== el.username) { %>
                        <li>
                            <a class="btn-user" href="/profile/<%= el.id %>">
                                <%= el.firstName %>
                                    <%= el.lastName %>
                            </a>
                        </li>

                        <% } %>
                            <% }) %>

            </ul>

            <% } else { %>

                <h3>List</h3>

                <ul>
                    <% users.forEach(el => { %>
                        <% if(user.username !== el.username) { %>
                            <li>
                                <a class="btn-user" href="/profile/<%= el.id %>">
                                    <%= el.firstName %>
                                        <%= el.lastName %>
                                </a>
                            </li>

                            <% } %>
                                <% }) %>

                </ul>

                <% } %>


    </div>

</body>

</html>