<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/contacts-style.css' />
</head>

<body>

    <div class="contacts-container">

        <h1 id="contacts-title"> IRONHACKERS </h1>

        <!-- link to user profile -->

        <div class="contacts-mainuser-profile">

            <img id="contacts-mainuser-photo" src="<%= user.profileImg %>" alt="User Photo">
            <a id="contacts-mainuser-name" href="/profile/<%= user.id %>">
                <%= user.firstName + " " + user.lastName %>
            </a>

        </div>

        <!-- search function -->

        <div class="contacts-search-div">
            <form action="/contacts/search" method="POST">

                <input id="contacts-search-bar" type="text" name="contactSearch" placeholder="enter search item">
                <br>
                <button id="contacts-search-btn" type="submit">Search</button>

            </form>
        </div>

        <div class="contacts-display-div">

            <% if(searchResult !== null) { %>

                <h4 class="contacts-list-title"> search result </h4>

                <table class="contacts-list-table">
                    <tr class="contacts-users-table-row title-row">
                        <td>
                            Name
                        </td>

                        <td>
                            Ironhack Campus
                        </td>

                        <td>
                            Current Country
                        </td>
                    </tr>
                    <% searchResult.forEach(el => { %>
                        <% if(user.username !== el.username) { %>

                            <tr class="contacts-users-table-row">

                                <td>

                                    <a href="/profile/<%= el.id %>">
                                        <%= el.firstName %>
                                            <%= el.lastName %>
                                    </a>
                                </td>

                                <td>

                                    <a href="/profile/<%= el.id %>">
                                        <%= el.cohortCity %>
                                    </a>
                                </td>

                                <td>

                                    <a href="/profile/<%= el.id %>">
                                        <%= el.country %>
                                    </a>
                                </td>
                            </tr>

                            <% } %>
                                <% }) %>

                </table>

                <% } else { %>

                    <h4 class="contacts-list-title"> all contacts </h4>

                    <table class="contacts-list-table">
                        <tr class="contacts-users-table-row title-row">
                            <td>
                                Name
                            </td>

                            <td>
                                Ironhack Campus
                            </td>

                            <td>
                                Current Country
                            </td>
                        </tr>
                        <% users.forEach(el => { %>
                            <% if(user.username !== el.username) { %>

                                <tr class="contacts-users-table-row">

                                    <td>

                                        <a href="/profile/<%= el.id %>">
                                            <%= el.firstName %>
                                                <%= el.lastName %>
                                        </a>
                                    </td>

                                    <td>

                                        <a href="/profile/<%= el.id %>">
                                            <%= el.cohortCity %>
                                        </a>
                                    </td>

                                    <td>

                                        <a href="/profile/<%= el.id %>">
                                            <%= el.country %>
                                        </a>
                                    </td>
                                </tr>

                                <% } %>
                                    <% }) %>

                    </table>

                    <% } %>

        </div>

    </div>

</body>

</html>