<!-- views/auth/signup.ejs -->
<%= usr %>
    <h2>Edit Profile</h2>
    <form action="/edit-profile/<%= usr._id %>" method="POST" id="form-container">


        <br>
        <label for="picture">Image Link</label>
        <input id="picture" type="text" name="profileImg" value="<%= usr.profileImg %>" placeholder="Profile url">
        <br>


        <label for="phoneNumber">Phone Number:</label>
        <input id="phoneNumber" type="text" name="phoneNumber" value="<%= usr.phoneNumber %>" placeholder="your phone number">
        <br>

        <label for="cohortCity">Cohort City:</label>
        <input id="cohortCity" type="text" name="cohortCity" value="<%= usr.cohortCity %>" placeholder="your cohort city">
        <br>

        <label for="cohortYear">Cohort Year:</label>
        <input id="cohortYear" type="text" name="cohortYear" value="<%= usr.cohortYear %>" placeholder="year of your cohort">
        <br>


        <br>
        <label for="country">Country you live in:</label>
        <input id="country" type="text" name="country" value="<%= usr.country %>" placeholder="your email">
        <br>

        <br>
        <label for="city">current city:</label>
        <input id="city" type="text" name="city" value="<%= usr.city %>" placeholder="city you live in now">
        <br>


        <br>
        <label for="email">Email:</label>
        <input id="email" type="text" name="email" value="<%= usr.email %>" placeholder="your email">
        <br>



        <h5>Social Media:</h2>
            <br>
            <label for="instagram">Instagram:</label>
            <input id="instagram" type="text" name="instagram" value="<%= usr.socialMedia.instagram%>" placeholder="your instagram profile">
            <br>

            <br>
            <label for="linkedin">Linkedin:</label>
            <input id="linkedin" type="text" name="linkedin" value="<%= usr.socialMedia.linkedin%>" placeholder="your linkedin profile">
            <br>

            <br>
            <label for="Pineterest">Pinterest:</label>
            <input id="Pinterest" type="text" name="pinterest" value="<%= usr.socialMedia.pinterest%>" placeholder="your Pinterest profile">
            <br>

            <button type="submit">Update</button>
    </form>