<h1> Profile Page </h1>

<h4>
    First Name:
    <%= user.firstName %>
</h4>

<h4>
    Last Name:
    <%= user.lastName %>
</h4>

<h4>
    Phone Number:
    <%= user.phoneNumber %>
</h4>

<h4>
    Email:
    <%= user.email %>
</h4>

<h4>
    Address:
    <%= user.address %>
</h4>

<h4>
    Facebook:
    <%= user.socialMedia.facebook %>
</h4>

<h4>
    Instagram:
    <%= user.socialMedia.instagram %>
</h4>