<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/profile-style.css' />
</head>

<body>

    <div class="profile-container">

        <img id="background-user-image">

        <img id="icon-user-image" src="<%= usr.profileImg %>" alt="Profile image">

        <div class="profile-info">

            <div class="profile-name-and-btn">

                <h3 id="profile-name">
                    <%= usr.firstName + " " + usr.lastName %>
                </h3>


                <% if (user._id.equals(usr._id)) { %>
                    <form action="/edit-profile/<%= usr.id %>">
                        <button id="edit-profile-btn" class="button">Edit Profile</button>
                    </form>
                    <% } %>

            </div>

            <h4>
                Phone Number:
                <%= usr.phoneNumber %>
            </h4>

            <h4>
                Email:
                <%= usr.email %>
            </h4>

            <h4>
                Cohort City:
                <%= usr.cohortCity %>
            </h4>

            <h4>
                Cohort Year:
                <%= usr.cohortYear %>
            </h4>

            <h4>
                Current Country:
                <%= usr.country %>
            </h4>

            <h4>
                Current City:
                <%= usr.city %>
            </h4>

            <h4>
                Instagram:
                <%= usr.socialMedia.instagram %>
            </h4>

            <h4>
                Linkedin:
                <%= usr.socialMedia.linkedin %>
            </h4>

            <h4>
                Pinterest:
                <%= usr.socialMedia.pinterest %>
            </h4>
        </div>

    </div>
</body>

</html>